body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	background-color: rgb(219, 227, 235);
	color: rgb(20, 17, 17);
}

a {
	color: blueviolet;
}

a:hover {
	text-decoration: underline;
}