---
const currentLang = Astro.currentLocale;
const footerTexts = { 
	es: "Blog hecho con amor y Astro, mi primer proyecto",
	en: "Blog made with love and Astro, my first project",
}
---
<footer>
	<p>{ footerTexts[currentLang]}</p>
</footer>

<style>
	footer {
		text-align: center;
		padding: 1rem;
		background-color: rgb(68, 62, 62);
		color: tomato;
	}
</style>